@font-face {
  font-family: "iconfont"; /* Project id 3521736 */
  src: url('iconfont.woff2?t=1657780957245') format('woff2'),
       url('iconfont.woff?t=1657780957245') format('woff'),
       url('iconfont.ttf?t=1657780957245') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo-:before {
  content: "\ebd4";
}

.icon-bofang-:before {
  content: "\e60a";
}

.icon-erji-:before {
  content: "\e60b";
}

.icon-fenxiang-:before {
  content: "\e60c";
}

.icon-goumaiyinle-:before {
  content: "\e60d";
}

.icon-huatongmai-:before {
  content: "\e60e";
}

.icon-maihuatong-:before {
  content: "\e60f";
}

.icon-paihangbang-:before {
  content: "\e610";
}

.icon-liuyan-:before {
  content: "\e611";
}

.icon-shipindianying-:before {
  content: "\e612";
}

.icon-shipinbofang-:before {
  content: "\e613";
}

.icon-tianjiahaoyou-:before {
  content: "\e614";
}

.icon-shoucang-:before {
  content: "\e615";
}

.icon-xiazai-:before {
  content: "\e616";
}

.icon-xunhuan-:before {
  content: "\e617";
}

.icon-xinhao-:before {
  content: "\e618";
}

.icon-yinleliebiao-:before {
  content: "\e619";
}

.icon-xiayishou-:before {
  content: "\e61a";
}

.icon-yunyinle-:before {
  content: "\e61b";
}

.icon-yinlegedan-:before {
  content: "\e61c";
}

.icon-tianjiawenjian-:before {
  content: "\e61d";
}

.icon-shezhi-:before {
  content: "\e61e";
}

.icon-dianzan-:before {
  content: "\e61f";
}

.icon-shangyishou-:before {
  content: "\e620";
}

.icon-yinleshipinsheying-:before {
  content: "\e621";
}

